$rouge: #e2001a;
$blanc: #f7f7f7;
$noir: #000000;

#bibliotheque {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.marque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    height: max-content;
    border: 2px solid $rouge;
    background-color: $blanc;
    border-radius: 3px;

    h2 {
        font-family: "Liberation Sans", sans-serif, arial;
        font-size: 2em;
        color: $rouge;
        text-decoration: 2px underline;
        margin: 0;
        margin-bottom: 10px;
    }

    img {
        width: 50%
    }
}